@media (min-width:1440px) {
    .button-answer {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -1.14766px;
            color: #FFFFFF;
    }
}