

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white ;
    border-radius: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    background: transparent;
    transition: .7s;
    position: relative;
    overflow: hidden;
    &:focus{
        outline: 0;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
    }
    &:hover{
        background: whitesmoke;
        cursor: pointer;
        &:before{
        transform: translateX(300px)  skewX(-15deg);  
        opacity: 0.6;
        transition: .7s;
        }
        &:after{
        transform: translateX(300px) skewX(-15deg);  
        opacity: 1;
        transition: .7s;
        }
    }
   
}
.button-starting {
    width: 270px;
    height: 56px;
    position: relative;
    overflow: hidden;
    transition: .7s;
    &:focus{
        outline: 0;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
    }
    &:hover{
        background: whitesmoke;
        cursor: pointer;
        &:before{
        transform: translateX(300px)  skewX(-15deg);  
        opacity: 0.6;
        transition: .7s;
        }
        &:after{
        transform: translateX(300px) skewX(-15deg);  
        opacity: 1;
        transition: .7s;
        }
    }
}





.button-save {
    width: 156px;
    height: 56px;
}
.button:hover {
    color: black;
    background-color: #fff;

   
}
.button:active {
    color: black;
    background-color: #FFBCA2;
    
}
.button-answer {
    width: clamp(158px,158/360*100vw,323px);
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.914286px;
    color: #FFFFFF;
}
.popup-button {
    width: 150px;
    height: 48px;
    color: black;
    border: 1px solid black 
}


.popupAnswer__button {
    width: 296px;
    height: 48px;
    color: black;
    border: 1px solid black ;
    background-color: #FFBCA2;
    margin-top: 36px;
}
.result__button, .result-Pictures__button {
    width: 296px;
    height: 48px;
    color: black;
    border: 1px solid black ;
    background-color: #FFBCA2;
    margin-top: 36px;
    margin-bottom: 25px;
}


@import "button-tablet";
@import "./button-desktop";


