@media (min-width:1440px) {
    .categories {
        padding: 0 70px;
    }
    .footer {
        display: flex;
    }
    
    .categories-images__wrapper {
        margin-bottom: 82px;
        row-gap: 50px;
        & .categoryImgWrap {
            width: calc(100%/6 - 125px/6) ;
        }
    }
    
}

