.questions-authors {
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 16px;
}
.timer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    width: 100%;
    height: 36px;
    column-gap: 8px;
}
.questions-authors__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    & span {
        width: 14px;
        height: 14px;
        display: block;
        background: url("./images/close__icon.svg");
        background-size: 100% 100%;
        background-position: center;

    }
}
.time__count {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.timer__progress {
    width: 100%;
    height: 3px;
}
.question__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    padding-top: 29px;
}

.questions-authors__container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: start;
    

}
.question__img {
    max-width: 100%;
    height: clamp(260px,294/360*100vw,453px);
    border-radius: 15px;

}

.download {
    width: 30px;
    height: 30px;
    background: url("./images/save__logo.svg");
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    filter: invert(100%) sepia(82%) saturate(2%) hue-rotate(89deg) brightness(110%) contrast(100%);
}

.question-buttons__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 10px;
    justify-content: center;
       
}

@import "./questions-author-tablet";
@import "./questions-author-desktop"