@media (min-width:1440px) {
    .results {
        padding: 0 70px;
    }
    .footer {
        display: flex;
    }
    .results-images__wrapper {
        margin-bottom: 0;
        row-gap: 50px;
        & .resultsImgWrap {
            width: calc(100%/6 - 125px/6) ;
        }
    }
}