@media (min-width:1440px) {
    .results {
        padding: 0 70px;
    }
    .footer {
        display: flex;
    }
    .results .categories__title {
        padding-top: 20px;
    }
    .results-images__wrapper {
        margin-bottom: 82px;
        row-gap: 50px;
        & .resultsImgWrap {
            width: calc(100%/5 - 90px/6) ;
        }
    }
    .results .header__nav {
        column-gap: 20px;
    }
    
   
}
